@import 'app/styles/base/settings';

.myCollection {
  padding: 4rem;

  &__collectionText {
    margin: 1rem;
    text-align: center;
  }

  &__button {
    display: flex;
    justify-content: center;
  }

  &__spinner {
    display: flex;
    justify-content: center;
  }
}

.list {
  &__title {
    text-align: center;
  }

  &__item {
    display: flex;
    justify-content: center;

    &Description {
      height: 5rem;
      overflow-y: hidden;
    }

    &Content {
      align-items: center;
      background-color: $background-promotion;
      display: flex;
      flex-direction: column;
      height: 22rem;
      margin: 1rem auto;
      object-fit: cover;
      padding: 0 1rem;
      position: relative;
      text-align: left;
      width: 99%;

      &:hover {
        border: 2px solid $primary;
        border-radius: 0.1rem;
      }

      &Hidden {
        color: white;
        width: 100%;

        &Title {
          height: 2rem;
          overflow-x: hidden;
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 95%;
        }
      }

      &Img {
        background-color: $black;
        height: 80%;
        margin: 0 0 0.5rem 0;
        max-height: 100%;
        width: auto;
      }

      &New {
        background-color: $orange;
        padding: 0.3rem;
        position: absolute;
        right: 0;
      }

      &Sale {
        background-color: $orange;
        color: $black;
        padding: 0.5rem;
        position: absolute;
        right: 0;
      }
    }

    &Text {
      margin: 0 auto;
      width: 22rem;

      font-size: $font-size-big;
    }

    &Icon {
      align-items: center;
      display: flex;
      margin: 0;

      span {
        margin-left: 1rem;
        font-size: $font-size-med;
      }
    }

    &Button {
      margin: 2rem auto;
    }
  }
}
