@import '../../../../app/styles/base/settings';

.promotionContent {
  display: flex;

  @media screen and (max-width: $sm-width) {
    flex-direction: column-reverse;
    text-align: center;
  }

  h4 {
    text-align: center;
  }

  .Arrow {
    height: 3rem;
  }

  &__item {
    padding: 0 3rem;

    &Description {
      height: 5rem;
    }

    &Content {
      display: flex;
      flex-direction: column;
      align-items: center;
      object-fit: cover;
      background-color: $background-promotion;
      margin: 1rem auto;
      width: 99%;
      text-align: left;
      padding: 0 1rem;
      height: 20rem;
      position: relative;

      &Hidden {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 1rem;
        background: linear-gradient(0, #000000 14.58%, rgba(0, 0, 0, 0) 100%);

        &Title {
          text-align: center;
          width: 90%;
          height: 2rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow-x: hidden;
        }
      }

      &Img {
        background-color: $black;
        height: 100%;
        width: auto;
        max-height: 100%;
      }

      &New {
        position: absolute;
        right: 0;
        background-color: $orange;
        padding: 0.3rem;
      }
    }

    &Text {
      font-size: $font-size-big;

      @media screen and (max-width: $lg-width) {
        margin-top: 2rem;
        text-align: center;
      }
    }

    &Icon {
      display: flex;
      align-items: center;
      margin: 0;
      span {
        margin-left: 1rem;
        font-size: $font-size-med;
      }
    }

    &Button {
      margin: 2rem auto;
      @media screen and (max-width: $lg-width) {
        text-align: center;
      }
    }

    &VerticalImg {
      width: 100%;
      height: min-content;

      img {
        object-fit: cover;
        filter: grayscale(100%);
        opacity: 0.4;
        width: 100%;
        height: auto;
        margin: 0;
        &:hover {
          filter: none;
          opacity: 1;
        }
      }
    }

    &Icon {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 0;

      span {
        font-size: $font-size-med;

        @media screen and (max-width: $sm-width) {
          font-size: $font-size-small;
        }
      }
    }
  }

  &__text {
    padding: 0 4.5rem 2rem 4.5rem;
  }

  &__favContainer {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    height: 1rem;
    color: $orange;
  }

  &__buyContainer {
    display: flex;
    justify-content: space-between;
  }

  &__carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  &__carouselItems {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }
}
