.carousel-content {
  display: flex;
  transition: all 250ms linear;
}

.carousel-content > * {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
}

.carousel-content.show-2 > * {
  width: 50%;
}

.carousel-content.show-3 > * {
  width: calc(100% / 3);
}

.carousel-content.show-4 > * {
  width: calc(100% / 4);
}
