.withdrawNftModal {
  padding: 1rem;
  text-align: center;

  &__address {
    margin: 1rem 0;
  }

  &__code {
    display: flex;
    margin-bottom: 2rem;

    &Input {
      flex-grow: 1;
    }

    &Button {
      align-self: flex-end;
      flex-grow: 0;
    }
  }

  &__msg {
    margin-top: 0.5rem;
    text-align: center;

    button {
      margin-bottom: 0.5rem;
    }
  }
}
