@import '../../../../app/styles/base/settings';

.userBalance {
  padding: 2rem 4rem 0 4rem;

  &__heading {
    background-color: $black;
    padding: 1rem 0;
  }

  &__container {
    padding: 0 4rem;
  }

  &__item {
    background-color: $background-promotion;
    padding: 0.5rem 0;

    &:first-child {
      padding-top: 2rem;
    }

    &:last-child {
      padding-bottom: 2rem;
      margin-bottom: 2rem;
    }
  }

  &__column {
    &__balance {
      color: $orange;
    }
  }
}
