.carousel {
  margin-top: 2rem;
  margin-bottom: -1rem;
  &__background {
    background-image: url('../../../../../app/assets/BackgroundCarousel.png');
    background-size: cover;
    background-position: top;
    object-fit: cover;
    max-width: 100%;
  }

  &__title {
    color: black;
    font-weight: 900;
    font-family: 'The Neue' !important;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__info {
    display: flex;
    padding: 2rem;

    &Img {
      padding: 1rem 0;
      margin-left: 10%;
      flex: 0.4;
      img {
        object-fit: cover;
        max-width: 100%;
      }
    }

    &TextContainer {
      padding: 2rem;
      flex: 0.6;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: black;
    }

    &Text {
      text-transform: uppercase;

      &Title {
        text-transform: uppercase;
        font-family: 'The Neue' !important;
      }

      &Description {
        width: 80%;
        height: 2.8rem;
        text-overflow: clip;
        white-space: pre-line;
        overflow-y: hidden;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    max-width: 100%;
    text-transform: uppercase;

    &ImgOpacity {
      margin: 1%;
      text-align: center;
      color: black;

      button {
        background: #ff751d99;
        border: none;
      }

      img {
        object-fit: cover;
        width: 100%;
        opacity: 0.2;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }

    &Img {
      margin: 1%;
      text-align: center;
      color: black;

      img {
        object-fit: cover;
        width: 100%;
        cursor: pointer;
      }
    }
  }
}
