@import '../../../../app/styles/base/settings';

.mainContent {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 0 2% 0 5%;

  @media screen and (max-width: $md-width) {
    align-items: center;
    flex-direction: column;
  }

  &__buttonContainer {
    display: flex;
    flex-direction: column;

    &Buy {
      margin-top: 0;
    }
  }

  &__priceContainer {
    display: flex;
    justify-content: space-around;
    text-align: center;

    span {
      color: $orange;
      font-size: 1.6rem;
    }
  }

  &__item {
    &Description {
      display: flex;
      padding: 0 2%;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: left;

      @media screen and (max-width: $md-width) {
        margin-top: 1rem;
      }

      &Text {
        padding: 1rem 0;
      }

      &Title {
        color: $orange;
      }
    }
  }

  &__heroleteItem {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem 0;
    text-align: center;

    &Info {
      color: $orange;
      font-weight: 700;
      font-size: 1.5rem;
    }

    &Price {
      display: flex;
      justify-content: space-between;
      margin-top: auto;

      span {
        color: $orange;
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  }
}
