@import '/src/app/styles/base/settings';

.mainContent {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 0 2% 0 5%;

  @media screen and (max-width: $md-width) {
    align-items: center;
    flex-direction: column;
  }

  &__buttonContainer {
    display: flex;
    flex-direction: column;

    &Buy {
      margin-top: 0;
    }
  }

  &__item {
    &Description {
      display: flex;
      padding: 0 2%;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: left;

      @media screen and (max-width: $md-width) {
        margin-top: 1rem;
      }

      &Text {
        padding: 1rem 0;
      }

      &Title {
        color: $orange;
      }
    }
  }
}
