@import '../../../app/styles/base/settings';

.kycForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0.2rem;

  &__title {
    margin-bottom: 2rem;
    text-align: center;
  }

  &__error {
    color: $error;
    margin-top: -2rem;
  }

  &__input {
    margin: 0.5rem 0;
  }

  &__button {
    display: flex;
    justify-content: center;
    margin: 1rem 2rem;
  }

  &__checkContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
