@import '../../../app/styles/base/settings';

.convert {
  margin: 1rem 20%;
  padding: 1rem 4rem;
  text-align: center;
  background-color: black;
  border-radius: 2%;

  &__coinContainer {
    display: flex;
    justify-content: space-evenly;
  }

  &__fromCoin {
    display: flex;
    justify-content: center;

    &Container {
      padding: 1rem;
      width: 50%;
    }
  }

  &__toCoin {
    display: flex;
    justify-content: center;

    &Container {
      padding: 1rem;
      width: 50%;
    }
  }

  &__input {
    display: flex;
    justify-content: center;

    &Container {
      padding: 1rem;
      width: 100%;
    }
  }

  &__exchangeInfo {
    padding: 0 1rem;

    &Outdated {
      color: $darkest-grey;
      padding: 0 1rem;
    }

    &Container {
      display: flex;
      justify-content: space-between;
      margin: 0.5rem 0;

      > p {
        font-size: 1.1rem;
      }

      &Total {
        font-size: 1.5rem;
      }
    }

    &Expired {
      border-top: 1px solid $light-grey;
      margin-top: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  &__buttons {
    margin: 1rem;
    width: fit-content;
  }

  &__error {
    color: $error;
  }
}
