@import '../../../../app/styles/base/settings';

.mainContent {
  &__background {
    position: relative;

    &Img {
      width: 100%;
      height: auto;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;

    @media screen and (max-width: 375px) {
      display: none !important;
    }

    &Featured {
      color: $orange;
      margin-bottom: 1rem;
    }

    &Title {
      @media screen and (max-width: $md-width) {
        font-size: 1rem !important;
      }

      @media screen and (max-width: $xs-width) {
        font-size: 0.9rem !important;
      }
    }

    &Teaser {
      font-size: 1.2rem !important;
      padding: 0 5%;
      text-align: center;

      @media screen and (max-width: $md-width) {
        padding: 0 10%;
        font-size: 0.7rem !important;
      }
    }

    &Button {
      margin-top: 2rem !important;
      margin-left: 1rem;
      width: 13rem !important;
      text-align: center;
    }

    &Buttons {
      display: flex;

      @media screen and (max-width: $md-width) {
        flex-direction: column;
      }
    }
  }
}
