@import '/src/app/styles/base/settings';

.myCollection {
  margin-top: 2rem;

  &__title {
    text-align: center;
    margin-bottom: 4rem;
  }

  &__subtitle {
    align-items: center;
    display: flex;
    margin-bottom: 2rem;

    &IRL {
      background-color: $orange;
      color: black;
      margin-left: 1rem;
      padding: 0.1rem 0.5rem;
    }
  }

  &__info {
    align-items: center;
    display: flex;
    margin-bottom: 4rem;

    &Text {
      flex: 0.5;
      text-align: justify;
    }

    &Button {
      display: flex;
      flex: 0.5;
      justify-content: center;
      button {
        width: 70%;
      }
    }
  }

  &__item {
    &Title {
      align-items: center;
      background-color: black;
      color: $primary;
      cursor: pointer;
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 1rem;

      svg {
        margin-left: 1rem;
      }
    }

    &Grid {
      position: relative;

      &Blur {
        position: absolute;
        z-index: 1000;
        filter: blur(4px);

        img {
          width: 100%;
          filter: grayscale(100%) blur(1px);
        }
      }

      &Text {
        background: linear-gradient(
          0,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 1) 30%,
          rgba(255, 255, 255, 0) 100%
        );
        bottom: 0;
        color: white;
        padding-left: 1rem;
        position: absolute;
        text-align: left;
        width: 100%;
        z-index: 1000;
      }

      img {
        width: 100%;
        filter: grayscale(100%) blur(1px);
      }
    }
  }
}
