@import '../../../app/styles/base/settings';

.layout {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0 0rem;
  padding: 0 0rem;
  z-index: -100;

  &__item {
    width: 100%;
    border-right: solid 1px $darkest-grey;
  }

  &__item:first-child {
    border-left: solid 1px $darkest-grey;
  }
}
