.modal {
  background-color: white;
  box-shadow: 24;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 2rem;
  transform: translate(-50%, -50%);
  width: 30rem;

  &__close {
    background-color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
  }
}
