@import '../../../app/styles/base/settings';

.modal {
  background-color: black;
  border: 1px solid white;
  box-shadow: 24;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 2rem;
  transform: translate(-50%, -50%);
  width: 30rem;
  max-height: 40rem;
  overflow-y: scroll;

  &__close {
    background-color: black;
    color: $primary;
    font-size: $font-size-modal;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
  }
}
