@import '../../../app/styles/base/settings';

.loginForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;

  &__img {
    display: block;
    margin: auto;
  }

  &__logo {
    margin-bottom: 2rem;
  }

  &__title {
    margin-bottom: 1rem;
    h5 {
      font-weight: bold;
    }
  }

  &__error {
    color: $error;
    margin-top: -2rem;
  }

  &__input {
    text-align: left;
  }

  &__button {
    margin: 1rem 2rem 4rem 2rem;
  }

  &__spinner {
    display: flex;
    justify-content: center;
  }
}
