@import '../../../../../app/styles/base/settings';

.perks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  text-align: center;

  &__title {
    color: $orange-creatures;
    font-weight: 900;
    font-family: 'The Neue' !important;
    margin: 1rem 0;
  }

  &__text {
    width: 60%;
    margin: 1rem 0;
  }
}
