@import '../../../../app/styles/base/settings';

.promotionContent {
  padding: 0;

  h4 {
    text-align: center;
  }
  &__item {
    display: flex;
    justify-content: center;
    height: 100%;
    &Title {
      height: 2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
    }
    &Description {
      height: 5rem;
      overflow-y: hidden;
    }
    &Content {
      background-color: $background-promotion;
      margin: 1rem auto;
      width: 99%;
      text-align: left;
      padding: 1rem;
    }
    &TextContainer {
      padding: 2rem;
      margin: 0 0 0 16rem;
    }

    &Text {
      margin: 0 auto;
      width: 22rem;

      font-size: $font-size-big;
    }

    &ImgContainer {
      margin-top: 2rem;
      margin-left: 0;
      height: 100%;
    }

    &Icon {
      display: flex;
      align-items: center;
      margin: 0;
      span {
        margin-left: 1rem;
        font-size: $font-size-med;
      }
    }

    &Button {
      margin: 2rem auto;
    }
  }

  &__text {
    padding: 0 4.5rem 2rem 4.5rem;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__imgContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: cover;
    width: 100%;
    height: 15rem;
    margin: 0 0 1rem;

    &Img {
      background-color: $black;
      width: 65%;
      height: auto;
    }

    &New {
      position: absolute;
      right: 0;
      background-color: $orange;
      padding: 0.3rem;
    }
  }

  &__favContainer {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    height: 1rem;
    color: $orange;
  }

  &__buyContainer {
    display: flex;
    justify-content: space-between;
  }

  &__carousel {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
