@import '../../../../app/styles/base/settings';

.promotionContent {
  padding: 0;

  h4 {
    text-align: center;
  }

  a {
    color: white;
  }

  .Arrow {
    height: 3rem;
  }

  &__item {
    display: flex;
    justify-content: center;

    &Description {
      height: 5rem;
      overflow-y: hidden;
    }

    &Content {
      display: flex;
      flex-direction: column;
      align-items: center;
      object-fit: cover;
      background-color: $background-promotion;
      margin: 1rem auto;
      width: 99%;
      text-align: left;
      padding: 0 1rem;
      height: 20rem;
      position: relative;

      &Hidden {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 1rem;
        background: linear-gradient(0, #000000 14.58%, rgba(0, 0, 0, 0) 100%);

        &Title {
          text-align: center;
          width: 90%;
          height: 2rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow-x: hidden;
        }
      }

      &Img {
        background-color: $black;
        height: 100%;
        width: auto;
        max-height: 100%;
      }

      &New {
        position: absolute;
        right: 0;
        background-color: $orange;
        padding: 0.3rem;
      }
    }

    &Text {
      margin: 0 auto;
      width: 22rem;

      font-size: $font-size-big;
    }

    &Icon {
      display: flex;
      align-items: center;
      margin: 0;
      span {
        margin-left: 1rem;
        font-size: $font-size-med;
      }
    }

    &Button {
      margin: 2rem auto;
    }
  }

  &__text {
    padding: 0 4.5rem 2rem 4.5rem;
  }

  &__favContainer {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    height: 1rem;
    color: $orange;
  }

  &__buyContainer {
    display: flex;
    justify-content: space-between;
  }

  &__carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  &__carouselItems {
    display: flex;
    align-items: center;
  }
}
