@import '../../../../app/styles/base/settings';

.knowHowContent {
  margin: 4rem 0 4rem 0;
  padding: 1rem;
  &__video {
    background-image: url(../../../../app/assets/video_placeholder.png);
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
  }

  &__item {
    display: flex;
    justify-content: center;
    &Text {
      text-align: center;
      position: relative;
      width: 80%;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 2rem;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }
  }
}
