@import '/src/app/styles/base/settings';

.heroleteItem {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  text-align: center;

  > div {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__category {
    font-size: 1.1rem;
    margin: 0 0.3rem 0 0.5rem;
  }

  &__info {
    color: $orange;
    font-size: 1.1rem;
    font-weight: 700;
    margin-right: auto;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin-top: auto;

    span {
      color: $orange;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
}
