@import '../../../app/styles/base/settings';

.carousel {
  background-color: black;
  display: flex;
  padding: 2rem 4rem;

  @media screen and (max-width: $md-width) {
    flex-direction: column;
    text-align: center;
  }

  &__description {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &Featured {
      color: $orange;
    }

    &Date {
      margin-bottom: 1rem;
    }

    &Price {
      margin-bottom: 1rem;
    }

    &Checkout {
      margin-top: 1rem;
    }

    &Collectibles {
      margin-top: 2rem;
    }

    &Text {
      margin-top: 2rem;
    }

    &Pack {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      padding: 1rem;

      &Info {
        p {
          font-size: $font-size-med;
          color: $orange;
        }
      }
    }
  }

  &__img {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;

    &Title {
      margin-bottom: 1rem;
    }

    &Image {
      width: 60%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__buttons {
    color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-bottom: 2rem;

    &Arrow {
      cursor: pointer;
    }
  }

  &__buy {
    text-align: center;
    background-color: black;
    padding-bottom: 2rem;

    &Button {
      background-color: $primary !important;
      border: none !important;

      color: black;
      padding: 0.5rem !important;

      &:hover {
        background-color: darken($color: $primary, $amount: 10) !important;
      }

      p {
        font-family: Transat !important;
      }
    }
  }
}
