@import '../../../app/styles/base/settings';

.carousel {
  background-color: black;
  display: flex;
  padding: 2rem 4rem;
  text-align: center;

  &__description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20%;

    &Featured {
      color: $orange;
    }

    &Date {
      margin-bottom: 1rem;
    }

    &Checkout {
      margin-top: 1rem;
    }

    &Pack {
      display: flex;
      justify-content: space-between;
      text-align: center;
      padding: 1rem;

      &Info {
        p {
          font-size: $font-size-med;
          color: $orange;
        }
      }
    }
  }

  &__img {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;

    &Title {
      margin-bottom: 1rem;
    }

    &Image {
      padding: 2rem;
      width: 70%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__buttons {
    color: $primary;
    display: flex;
    justify-content: center;
    background-color: black;
    padding-bottom: 1rem;

    &Arrow {
      cursor: pointer;
    }
  }
}
