@import 'app/styles/base/settings';

.signupForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;

  &__img {
    display: block;
    margin: auto;
  }

  &__logo {
    margin-bottom: 2rem;
  }

  &__title {
    margin-bottom: 1rem;
    h5 {
      font-weight: bold;
    }
  }

  &__error {
    color: $error;
    margin-top: -1rem;
  }

  &__input {
    text-align: left;
  }

  &__checkbox {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__close {
    background-color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
  }
}
