@import 'app/styles/base/settings';

.mainContent {

  &__hero {
    min-height: 8rem;
    background-image: url("/app/assets/creatures_bg.png");
    background-size: cover; 
    padding-bottom: 8rem;
    text-align: center;

    &__mainTitle {
      color: $orange;
      margin-bottom: 1rem;
    }

    &__title {
      padding-bottom: 2rem;
      padding-top: 1rem;
    }

    &__dropDate{
      display: inline;
      position: relative;
      left: 5px;
      top: -5px;
    }

    &__comingSoon{
      margin-top: 2rem;
      margin-bottom: 4rem;
    }

    &__info {
      padding: 3rem 0;
    }

  }
  &__descContent{
    background: black;
    padding: 5rem 0;

    &__img{
      display: inline-block;
      margin: 0 auto;
    }
  }

  &__stepsContent {
    padding: 6rem 2rem;

    &__stepsDesc{
      margin-bottom: 2rem;
      margin-top: 5rem;
      
      &__text {
        position: relative;
        top: 8px;
      }
    }

    &__stepsCTA{
      margin-top: 3rem;
      padding: 1rem 0rem;
    }
  }

  &__stepsRoadmap {
    text-align: center;
    margin-bottom: 3rem;
  }

  &__item {
    display: flex;
    justify-content: center;
    height: 100%;
    &Title {
      height: 6rem;
      overflow: hidden;
    }
    &Description {
      height: 5rem;
      overflow-y: hidden;
    }
    &Content {
      background-color: $background-promotion;
      margin: 1rem auto;
      width: 99%;
      text-align: left;
      padding: 1rem;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

}
