@import '../../../app/styles/base/settings';

.buyNowButton {
  button {
    background-color: black;
    border: 2px solid $orange-creatures;
    color: white;
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
    width: 20rem;
  }

  p {
    color: white;
    font-family: The Neue;
  }
}
