@import '../../../../app/styles/base/settings';

.creditCards {
  padding: 2rem;
  &__itemContainer {
    background-color: black;
    margin: 1rem;
    padding: 1rem;
    width: 90%;

    &:hover {
      border: 1px solid $primary;
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__deleteIcon {
    cursor: pointer;
  }

  &__status {
    color: $primary;
    font-weight: bolder;
  }

  &__default {
    display: flex;
    justify-content: flex-end;
    color: $primary;
    cursor: pointer;
    &:hover {
      font-weight: bolder;
    }
  }
}
