@import '../../../../app/styles/base/settings';

.mainContent {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 0 2% 0 5%;

  @media screen and (max-width: $md-width) {
    align-items: center;
    flex-direction: column;
  }

  &__buttonContainer {
    display: flex;
    flex-direction: column;
  }

  &__priceContainer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    p {
      color: $orange;
      font-size: 1.6rem;
    }
  }
  &__item {
    &Description {
      display: flex;
      padding: 0 2%;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: left;

      @media screen and (max-width: $md-width) {
       margin-top: 1rem;
      }

      &Text {
        padding-bottom: 2rem;
        padding-top: 1rem;
      }

      &Title {
        color: $orange;
      }
    }
  }
}
