@import '../../../../app/styles/base/settings';

.promotion {
  background-color: black;
  padding: 2rem;

  &__imgContainer {
    display: flex;
    justify-content: center;
  }

  &__title {
    color: $orange;
  }

  &__row {
    margin-top: 2rem;
  }

  &__actionButton {
    width: 12rem !important;
  }
}
