@import '../../../app/styles/base/settings';

.carousel {
  background-color: black;
  display: flex;
  padding: 2rem 4rem;

  @media screen and (max-width: $md-width) {
    flex-direction: column;
    text-align: center;
  }

  &__description {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &Featured {
      color: $orange;
    }

    &Date {
      margin-bottom: 1rem;
    }

    &Price {
      margin-bottom: 1rem;
    }

    &Checkout {
      margin-top: 1rem;
    }

    &Collectibles {
      margin-top: 2rem;

      &Info {
        color: $orange;
      }
    }

    &Text {
      margin-top: 2rem;
      text-align: justify;
    }

    &Pack {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      padding: 1rem;

      &Info {
        p {
          font-size: $font-size-med;
          color: $orange;
        }
      }
    }
  }

  &__img {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;

    &Title {
      margin-bottom: 1rem;
      text-transform: capitalize;
    }

    &Image {
      display: flex;
      height: auto;
      object-fit: cover;

      img {
        height: 100%;
        width: 80%;
      }
    }

    &Marker {
      display: flex;
      justify-content: space-evenly;
      padding: 1rem;
      width: 50%;

      &Dot {
        border: 2px solid $primary;
        background-color: $primary;
        padding: 0.3rem;
        border-radius: 100%;
      }
    }
  }

  &__buttons {
    color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-bottom: 2rem;

    &Arrow {
      cursor: pointer;
    }
  }

  &__buy {
    text-align: center;
    padding-bottom: 2rem;

    &Icon {
      margin-bottom: 1rem;
    }

    &Button {
      background-color: $primary !important;
      border: none !important;
      color: black !important;
      padding: 0.5rem !important;

      &:hover {
        background-color: darken($color: $primary, $amount: 10) !important;
      }

      p {
        font-family: Transat !important;
      }
    }

    &Checkbox {
      margin-top: 1rem;

      &Info {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &Article {
      padding: 1rem 5%;
      text-align: justify;
      width: 100%;
    }
  }
}
