@import '../../../../app/styles/base/settings';

.mainContent {
  background-color: black;
  background-image: url('../../../../app/assets/CreaturesBackgroundGif.gif');
  background-size: cover;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: -4rem;

  &__background {
    img {
      max-width: 70%;
      height: auto;
      object-fit: cover;
    }

    &Button {
      color: white;

      button {
        border: 2px solid $orange-creatures;
      }
    }
  }

  a {
    color: white;
  }
}

.legend {
  padding: 3rem;
  text-align: center;

  &__header {
    color: $orange-creatures;
    font-family: 'The Neue' !important;
  }
}

.video {
  display: flex;
  justify-content: center;
  padding: 0 10%;
  &__content {
    width: 100%;
    height: 30rem;
  }
}

.description {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem;

  &__text {
    color: white;
    width: 60%;
  }
}

.discord {
  text-align: center;

  &__text {
    color: $orange-creatures;
    font-weight: 900;
    font-family: 'The Neue' !important;
  }

  &__button {
    color: white;
    margin-top: 1rem;

    button {
      border: 2px solid $orange-creatures;
      padding: 1rem;
    }
  }

  a {
    color: white;
  }
}
