@import '../../../app/styles/base/settings';

.topBar {
  margin: 0 1.5rem;

  &__item {
    &TextCollection {
      display: flex;
      justify-content: space-evenly;
      padding-top: 2rem;
    }

    &Button {
      display: flex;
      justify-content: end;
      align-items: center;
      padding-top: 2rem;
      margin-left: -6rem;
    }

    &Link {
      margin-left: 1rem;
    }

    &Profile {
      margin-left: 10rem;
      padding-top: 2rem;

      &Item {
        margin: 0.7rem;
      }
    }
  }
}
