@import 'app/styles/base/settings';

.topBar {
  margin: 0 2rem 2rem 2rem;

  &__logo {
    width: 150px;
  }

  &__item {
    &TextCollection {
      display: flex;
      color: white;
      justify-content: space-evenly;
    }

    &Button {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;

      &Profile {
        margin-right: 3rem;
        a {
          color: white;
        }
      }
    }

    &Link {
      margin-left: 1rem;
    }

    &Profile {
      margin-left: 10rem;
      padding-top: 2rem;

      &Item {
        margin: 0.7rem;
      }
    }
  }
}
