@import '../../../app/styles/base/settings';

.topBar {
	margin: 0 0.8rem;

	&__item {
		cursor: pointer;
		margin-top: 2rem !important;
	}

	&__button {
		background-color: $mid-grey !important;
		border-radius: 5rem !important;
		color: white !important;
		font-size: $font-size-small !important;
		font-weight: $font-weight-light !important;
		padding: 0.2 !important;
		text-transform: none !important;
		width: 7rem;

		&:hover {
			background-color: $light-grey !important;
		}
	}
}

.logo {
	height: 5rem;
}
