@import '../../../../app/styles/base/settings';

.checkboxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;

  &__container {
    display: flex;
    align-items: center;
    &Text {
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
  }
}
