@import '../../../../app/styles/base/settings';

.mainContent {
  margin: 0 0 2rem 0;
  padding: 1rem;
  &__item {
    height: 100%;

    &ImgContainer {
      margin-top: 2rem;
      margin-left: 0;
      height: 100%;
    }

    &Icon {
      display: flex;
      align-items: center;
      margin: 0;
      span {
        margin-left: 1rem;
        font-size: $font-size-med;
      }
    }
  }

  &__imgContainer {
    width: 100%;
    height: min-content;
    &Img {
      object-fit: cover;
      filter: grayscale(100%);
      opacity: 0.4;
      width: 100%;
      height: auto;
      margin: 0;
      &:hover {
        opacity: 1;
        filter: none;
      }
    }
  }
}

.disabledLink {
  pointer-events: none;
  color: $dark-grey;
}
