.winterGrid {
  &__title {
    text-align: center;
    padding: 1rem;
    margin: 3rem auto 1rem;
  }

  &__container {
    margin-bottom: 3rem;
  }

  &__item {
    position: relative;
    text-align: center;

    &Img {
      background-color: black;
      padding: 5% 10%;

      &Text {
        background: linear-gradient(0, #000000 50%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        text-align: left;
        top: 80%;
        width: 90%;
      }

      img {
        width: 20rem;
        height: 20rem;
      }
    }
  }
}
