@import '../../../../app/styles/base/settings';

.mainContent {
  &__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    position: absolute;
    text-align: center;
    width: 100%;

    &Featured {
      color: $orange;
      margin-bottom: 1rem;
    }

    &Title {
      font-size: 700;
    }

    &Teaser {
      font-size: 1.2rem;
      text-align: center;
      width: 90%;
    }

    &Button {
      margin-top: 2rem !important;
      width: 13rem !important;
    }
  }
}
