@import '../../../../app/styles/base/settings';

.main {
  width: 100%;
  background-color: $background-promotion;
  text-align: center;
  padding: 2rem;
  position: relative;

  &__img {
    position: relative;
    bottom: 3rem;
  }

  &__text {
    margin-top: 1rem;
  }

  &__social {
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    &Container {
      display: flex;
      justify-content: space-evenly;
      width: 20%;
    }
  }

  &__edit {
    color: $primary;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;

    &Container {
      display: flex;
      cursor: pointer;
      justify-content: space-between;
      vertical-align: center;
    }
  }
}
