@import '../../../../app/styles/base/settings';

.main {
  width: 100%;
  background-color: $background-promotion;
  text-align: center;
  padding: 2rem;

  &__img {
    position: relative;
    bottom: 3rem;
  }

  &__text {
    margin-top: 1rem;
  }

  &__social {
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    &Container {
      display: flex;
      justify-content: space-evenly;
      width: 20%;
    }
  }
}
