@import '../../../app/styles/base/settings';

.peers {
  padding: 4rem 8rem;
  font-size: $font-size-modal;
  align-items: center;

  @media screen and (min-width: $sm-min-width) and (max-width: $sm-max-width) {
    padding: 0.2rem 0.5rem;
    text-align: center;
  }

  &__title {
    margin-bottom: 5.5rem;
  }

  &__separator {
    border-top: 1px solid $dark-grey;
    margin-bottom: 4rem;
  }

  &__itemContainer {
    margin-bottom: 2rem;
  }

  &__column {
    cursor: pointer;
  }
}
