@import '../../../app/styles/base/settings';

.peers {
  padding: 4rem 8rem;
  font-size: $font-size-modal;
  align-items: center;

  &__title {
    margin-bottom: 5.5rem;
  }

  &__separator {
    border-top: 1px solid $dark-grey;
    margin-bottom: 4rem;
  }

  &__itemContainer {
    margin-bottom: 2rem;
  }

  &__column {
    cursor: pointer;
  }
}
