@import './settings';

* {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-dark;
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
  color: $primary;
}
