@import './settings';

@font-face {
  font-family: 'transat';
  src: url('../fonts/transat_medium.ttf');
}

* {
  font-family: 'transat';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-dark;
  color: white;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  background-color: $background-dark;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}

a {
  text-decoration: none;
  color: $primary;
  margin: 0;
}
