@import './settings';

@font-face {
  font-family: 'transat';
  src: url('../fonts/transat_medium.ttf');
}

* {
  font-family: 'transat';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-dark;
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
  color: $primary;
  margin: 0.2rem;
}
