//Colors
$primary: #35aed7;
$error: #a52a2a;
$light-grey: #eaeaea;
$mid-grey: #646464;
$dark-grey: #5c5c5c;
$darkest-grey: #313131;
$background-dark: #1f1f1f;
$background-promotion: #161616;
$orange: #f58550;
$black: #000;
$background-modals: #1f1f1f;

$orange-creatures: #ff751d;
//Font Size
$font-size-small: 0.9rem;
$font-size-modal: 1.2rem;
$font-size-med: 1.6rem;
$font-size-big: 2.4rem;

//Font Weight
$font-weight-light: 400;
$font-weight-normal: 700;

//Screen width
$sm-min-width: 20rem;
$sm-max-width: 45rem;
$sm-width: 600px;
$md-width: 900px;
$lg-width: 1200px;
